<mat-card class="profile-table">
  <mat-card-title>Lista de Perfis</mat-card-title>

  <table mat-table [dataSource]="profiles" class="mat-elevation-z8">
    <!-- Coluna Nome -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let profile"> {{ profile.name }} </td>
    </ng-container>

    <!-- Coluna Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let profile">
        <button mat-icon-button color="primary" (click)="editProfile(profile)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
