<div class="container">
  <h2>{{ pageTitle }}</h2>

  <form [formGroup]="form">
    <!-- Nome do Perfil -->
    <mat-form-field appearance="outline">
      <mat-label>Nome do Perfil</mat-label>
      <input formControlName="name" matInput />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        O nome é obrigatório.
      </mat-error>
    </mat-form-field>

    <!-- Menus -->
    <div class="menus">
      <h3>Selecione os menus:</h3>
      <mat-checkbox *ngFor="let menu of menus" [checked]="form.value.menus.includes(menu.id)"
        (change)="onMenuToggle(menu.id)">
        {{ menu.name }}
      </mat-checkbox>
    </div>

    <!-- Botões -->
    <div class="actions">
      <button mat-button color="warn" [routerLink]="'/perfil'">Cancelar</button>
      <button mat-flat-button class="button-profile"
        (click)="id ? handleSaveOrUpdate('update') : handleSaveOrUpdate('create')" [disabled]="form.invalid">
        Salvar
      </button>
    </div>
  </form>
</div>
